#hero_area{
  width: 100%;
  background: $bgColor;
  .inner{
    align-items: center;
  }
  .info_area{
    flex-basis: 45%;
    color: $whColor;
    h1{
      font-size: 65px;
      margin-bottom: 5px;
    }
    h5{
      font-size: 16px;
      margin-bottom: 5px;
    }
    h6{
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 20px;
    }
    p{
      font-size: 15px;
      margin-bottom: 25px;
    }
  }
  .admin_image{
    flex-basis: 50%;
    img{
      display: block;
    }
  }
}